<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.Avatar.Samples.WebAssembly</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="initial-avatar">
                <InitialAvatar FirstName="I"
                               LastName="A"
                               Size=30
                               Style="margin-right: 0.5rem" />
                Initial Avatar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="identicon-avatar">
                <IdenticonAvatar Username="Identicon Avatar"
                                 Style="margin-right: 0.5rem; width: 30px; height: 30px; background-color: grey" />
                Identicon Avatar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dice-bear-avatar">
                <DiceBearAvatar AvatarStyle="@DiceBearAvatarStyle.Thumbs"
                                DefaultSeed="polar bear ice ice"
                                Style="margin-right: 0.5rem; width: 30px; height: 30px;"/>
                DiceBear Avatar
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
